<!doctype html>
<html>
<head>
  <title>Madlib</title>
</head>
<body>
    <h2>Madlib</h2>
    <form action="/madlib">
    Enter a person: <input type="text" name="person"><br/>
    Enter a color: <input type="checkbox" name="color" value="red">Red
    <input type="checkbox" name="color" value="blue">Blue
    <input type="checkbox" name="color" value="green">Green
    <input type="checkbox" name="color" value="yellow">Yellow<br/>
    Enter a noun: <input type="text" name="noun"><br/>
    Enter an adjective: <input type="text" name="adjective"><br/>
    <input type="submit">
</form>
</body>
</html>
